:root {
  --font-size: 17px;
  --btn-color: rgb(169, 78, 53);
  --btn-font-color: white;
  --btn-font-size: 1em;
  --product-title: 20px;
}

.product-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px 10px;
  grid-auto-rows: repeat(5, 1fr);

}

.product-image {
  width: 200px;
}

.product {
  border: 2px solid rgb(9, 1, 1);
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  max-width: 200px;
  max-height: 450px;

}

.product-description {
  font-size: var(--font-size);
  text-align: justify;
}

.order {
  background-color: var(--btn-color);
  color: var(--btn-font-color);
  border: 0;
  padding: 10px;
  border-radius: 7px;
  font-size: var(--btn-font-size);
}

h5 {
  font-size: var(--product-title);
  margin-top: 2px;
  margin-bottom: 2px;
}

@media screen and (max-width: 500px) {
  .product-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-image{
    width: 100px;
  }

  .product {
    border: 2px solid rgb(9, 1, 1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    max-width: 150px;
    max-height: 400px;
  }
  .product-description {
    font-size: 15px;
    text-align: center;
}
.order{
  background-color: rgb(68, 117, 19);
}
}